ul {
    list-style-type: none;
    padding-bottom: 10px;
}

p {
    margin: 0;
}

.fancymodal {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    .fancymodal-close {
        &:before {
            border-radius: 50%;
            position: fixed;
            content: "\00D7";
            font-size: 26px;
            line-height: 30px;
            height: 30px;
            width: 30px;
            text-align: center;
            top: 30px;
            left: 30px;
            color: #ccc;
            opacity: 0.5;
        }
        border-radius: 50%;
        position: fixed;
        top: 30px;
        left: 30px;
        cursor: pointer;
        z-index: 200;
        background: #1E1E1E;
        opacity: 0.5;
        line-height: 30px;
        height: 30px;
        width: 30px;
        text-align: center;
    }
    .fancymodal-content {
        background: white;
        margin-left: 10%;
        max-width: 90%!important;
        //max-height: 100%!important;
    }
    .fancy-modal-theme-default {
        opacity: .99;
        width: 100%;
        height: 100%;
    }
    .fancy-modal-body {
        width: 100%!important;
        height: 100%!important;
    }
}

.modal-style {
    .modal-header {
        display: inline;
        .modal-list-title {
            padding: 0 10px;
            font-size: 14px;
            font-weight: 200;
            letter-spacing: .2px;
            line-height: 24px;
        }
        .modal-list-order {
            font-weight: 600;
            padding: 0 .5em;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: .6px;
            line-height: 16px;
            text-transform: uppercase;
        }
    }
    .modal-list {
        display: table;
        width: 100%;
        @extend .col-sm-12;
        @extend .col-md-12;
        .img-modal {
            left: 0px;
            @extend .img-circle;
            display: table-cell;
            width: 30px;
            img {
                display: block;
                max-height: 30px;
                object-fit: cover;
                border-radius: inherit;
                position: absolute;
                top: 0;
                width: 30px;
            }
        }
        .data-modal-title {
            border-top: 1px solid #f2f2f2;
            display: block;
            font-size: 12px;
            font-weight: 200;
            letter-spacing: .2px;
            line-height: 24px;
        }
        .data-modal {
            @extend .col-sm-10;
            @extend .col-md-10;
            display: table-cell;
            padding: 0px;
            padding-bottom: 5px;
            font-size: 12px;
            .data-modal-tagline {
                display: block;
            }
            i {
                color: $font-color-dark;
                font-size: 11px;
            }
            button {
                padding: 2px 10px;
            }
        }
        .fixed-width-30 {
            width: 30px;
        }
    }
}

.modal-child-style {
    display: table;
    img {
        //outline: 1px red solid;
        //top: 20px;
        //left: 0px;
        //@extend .col-sm-1;
        //@extend .col-md-1;        
        @extend .img-circle;
        //display: block;
        display: inline;
    }
    .data-modal-child-title {
        display: inline;
        // font-size: 12px;
        // font-weight: 200;
        // letter-spacing: .2px;
        // line-height: 24px;
        // outline: 1px red solid;
        left: 30px;
    }
    p {
        //outline: 1px red solid;
        //@extend .col-sm-10;
        //@extend .col-md-10;
        display: block;
    }
}

@media (max-width: 768px) {
    .fancymodal .fancymodal-content {
        margin-left: 0%;
        max-width: 100%!important;
    }
    .fancymodal-close {
        &:before {
            top: 15px!important;
            left: 6px!important;
            border-radius: 0 25px 25px 0!important;
            padding-left: 25px!important;
            padding-right: 25px!important;
        }
        top:15px!important;
        left: 6px!important;
        border-radius: 0 25px 25px 0!important;
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
}
